*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
overflow:hidden;
background:#5b95f5;
}

/* CENTER TITLE */

.title{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:4rem;
color:white;
}

/* RESUME LINKS */

.link{
position:absolute;
color:white;
text-decoration:none;
font-size:1.8rem;
font-weight:bold;
transition:.2s;
}

.link:hover{
transform:scale(1.1);
}

/* TOP LEFT - MAELISA- */

.l1{
top:10%;
left:12%;
}

.l2{
top:25%;
left:35%;
}

.l3{
top:45%;
left:8%;
}


/* TOP RIGHT - RATAHIR */

.l4{
top:12%;
right:12%;
}

.l5{
top:25%;
right:24%;
}

.l6{
top:46%;
right:8%;
}


/* BOTTOM - CYNHENG */

.l7{
bottom:30%;
left:25%;
}

.l8{
bottom:10%;
left:45%;
}

.l9{
bottom:23%;
right:22%;
}